<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="fragments/common::head('당근당근 채팅')"></div>
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- 반응형 웹 -->
    <link rel="stylesheet" th:href="@{/css/chat/chat.css}">
</head>
<body>
    <div th:replace="fragments/common::header()"></div>
    <main class="content" style="margin-top: 30px;">
        <div class="container p-0">
            <div class="card">
                <div class="row g-0">
                    <div class="col-12 col-lg-5 col-xl-3 border-right" style="border-right: 1px solid lightgray;">
                        <div class="px-4 d-none d-md-block">
                            <div class="d-flex align-items-center">
                                <div class="flex-grow-1">
                                    <input type="text" class="form-control my-3" placeholder="검색">
                                    <input type="hidden" hidden id="login-nickname" th:value="${session.login.nickname}">
                                    <input type="hidden" hidden id="loginId" th:value="${session.login.userId}">
                                </div>
                            </div>
                        </div>
                        <a th:href="@{/chat(loginId=${session.login.userId}, pId=${chatRoom.postId})}" th:each="chatRoom : ${chatRooms}" class="list-group-item list-group-item-action border-0">
                            <div class="d-flex align-items-start" th:if="${chatRoom.sellerId != session.login.userId}">
                                <img th:src="@{${chatRoom.sellerUserDto.imgUrl}}" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3" style="margin: 5px;" th:text="${chatRoom.sellerUserDto.nickname}"></div>
                                <img th:src="@{${chatRoom.prodImgUrl}}" style="width:40px; height: 40px; border-radius: 10%;">
                            </div>
                            <div class="d-flex align-items-start" th:if="${chatRoom.buyerId != session.login.userId}">
                                <img th:src="@{${chatRoom.buyerUserDto.imgUrl}}" class="rounded-circle mr-1" alt="Vanessa Tucker" width="40" height="40">
                                <div class="flex-grow-1 ml-3" style="margin: 5px;" th:text="${chatRoom.buyerUserDto.nickname}"></div>
                                <img th:src="@{${chatRoom.prodImgUrl}}" style="width:40px; height: 40px; border-radius: 10%;">
                            </div>
                        </a>
                        <hr class="d-block d-lg-none mt-1 mb-0">
                    </div>
                    <div class="col-12 col-lg-7 col-xl-9">
                        <div class="py-2 px-4 border-bottom d-none d-lg-block" style="min-height: 63px;">
                            <div th:each="chatRoom : ${chatRooms}" th:if="${postId != null} and ${chatRoom.postId == postId}">
                                <div class="d-flex align-items-center py-1">
                                    <div class="position-relative">
                                        <img th:if="${chatRoom.buyerId != session.login.userId}" th:src="${chatRoom.buyerUserDto.imgUrl}" class="rounded-circle mr-1" width="40" height="40">
                                        <img th:if="${chatRoom.sellerId != session.login.userId}" th:src="${chatRoom.sellerUserDto.imgUrl}" class="rounded-circle mr-1" width="40" height="40">
                                    </div>
                                    <div class="flex-grow-1 pl-3" style="margin-left: 10px;">
                                        <input type="hidden" hidden th:value="${chatRoom.roomId}" id="roomId">
                                        <strong th:if="${chatRoom.buyerId != session.login.userId}" th:text="${chatRoom.buyerUserDto.nickname}"></strong>
                                        <strong th:if="${chatRoom.sellerId != session.login.userId}" th:text="${chatRoom.sellerUserDto.nickname}"></strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="position-relative">
                            <div class="chat-messages p-4" id="msgArea">
                                  <!-- 대화내용 이전 내용을 먼저 보여줘야 한다. -->
                                <div th:if="${chatContents != null}" th:each="chatContent : ${chatContents}">
                                    <div class="chat-message-right pb-4" th:if="${chatContent.userId == session.login.userId}">
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 mr-3 msg" th:text="${chatContent.chatContent}">
                                            지금 바로 거래 가능 한가요?
                                        </div>
                                        <span class="text-muted small text-nowrap mt-2 spendTime">오후 4:30</span>
                                    </div>

                                    <div class="chat-message-left pb-4" th:if="${chatContent.userId != session.login.userId}">
                                        <div>
                                            <img th:src="@{${chatContent.userDto.imgUrl}}" class="rounded-circle mr-1" width="40" height="40">
                                        </div>
                                        <div class="flex-shrink-1 bg-light rounded py-2 px-3 ml-3 msg" th:text="${chatContent.chatContent}">
                                            네 가능 합니다.
                                        </div>
                                        <div class="text-muted small text-nowrap mt-2 spendTime">오후 4:30</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex-grow-0 py-3 px-4 border-top">
                            <div class="input-group">
                                <input th:if="${postId != null}" type="text" class="form-control" id="input-msg" placeholder="메시지 입력하기">
                                <input th:if="${postId == null}" type="text" class="form-control" placeholder="채팅을 시작해보세요." disabled>
                                <button class="btn" id="button-send">전송</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script th:src="@{/js/chat/chat.js}"></script>
    <script th:src="@{/js/chat/room-out.js}"></script>
</body>
</html>