<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/common :: head('게시판')"></div>
    <link rel="stylesheet" href="post.css" th:href="@{/css/post/post.css}">
</head>
<body>
    <header th:replace="fragments/common::header()"></header>

    <!-- 앨범형 게시글 -->
    <div class="album py-5 bg-light">
        <div class="container post-container">
        <p class="article-kind ps-1">중고거래</p>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col pt-0-pl-1" th:each="post : ${posts}">
                    <a href="#" th:href="@{/post(pId=${post.postId})}">
                        <div class="card border-none">
                            <image class="border-rd-8 pd-img" src="/images/img_digital.png" th:src="@{${post.imgUrl}}"/>
                            <div class="card-body">
                                <p class="card-text mb-1" th:text="${post.postTitle}" style="font-size: 16px; font-weight: 600">아이폰 팔아요</p>
                                <p class="card-text mb-1" th:text="${post.region}" style="color :darkgray; font-size: 14px">광진구 중곡동제1가</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <b th:text="${post.price + '원'}" style="color: #FF6F0F">1,000원</b>
                                    <small class="text-muted"><i class="bi bi-heart"></i> 0</small>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/common::footer"></div>

</body>
</html>