<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head(title)">
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- 부트스트랩 icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <!-- header 관련 css -->
    <link href="headers.css" th:href="@{/css/common/header.css}" rel="stylesheet">
    <title th:text="${title}"></title>
</head>
<body>
<header class="p-3" th:fragment="header()">
    <div class="container d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none" th:href="@{/}" aria-expanded="false">
            <img src="https://dnvefa72aowie.cloudfront.net/karrot-cs/etc/202007/0cf1d10235c37b2635c02719125da37cc1bd632518198b1e1da7f5a364156540.png"
                 alt="mdo" width="105" height="30"></img>
        </a>
        <div class="d-flex justify-content-end">
            <form class="row g-3 row justify-content-end" method="get" th:action="@{/posts}">
                <div class="col-auto">
                    <label for="searchText" class="visually-hidden">검색</label>
                    <input type="text" class="form-control w-60" style="background-color: #f2f3f6; border-color:white" id="searchText" name="searchText" placeholder="물품이나 동네 입력" th:value="${param.searchText}">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-color"><b>검색하기</b></button>
                </div>
            </form>
            <!-- 개인정보 토글 버튼 -->
            <div class="dropdown text-end" style="margin-left: 30px;" sec:authorize="isAuthenticated()">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false"> <!-- 개인상세페이지로 이동 -->
                    <img th:if="${session.login != null}" th:src="@{${session.login.imgUrl}}" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                    <li><a class="dropdown-item" th:href="@{/post/form}">글쓰기</a></li>
                    <li><a class="dropdown-item" href="#">나의 당근</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><form  class="form-inline my-2 my-lg-0" sec:authorize="isAuthenticated()" method="post"  th:action="@{/logout}">
                        <button class="btn btn-sm" type="submit" style="margin-left: 5px;">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>

            <div class="col-md-2 text-end" sec:authorize="isAnonymous()">
                <a type="button" class="btn btn-outline-white me-2" sec:authorize="isAnonymous()"  th:href="@{/account/login}">Login</a>  <!-- isAnonymous() : 로그인 하지 않은 경우 보인다. -->
            </div>
        </div>
    </div>
</header>
<div class="container" th:fragment="footer">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <img class="mb-2" src="https://d1unjqcospf8gs.cloudfront.net/favicon.ico" alt="" width="30" height="28">
                <small class="d-block mb-3 text-muted">&copy; 2017–2022</small>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Random feature</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team feature</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Stuff for developers</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another one</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Resource name</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Another resource</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Team</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Locations</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Privacy</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <div th:fragment="script">

    </div>

</div>
</body>
</html>